@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.Encabezado{
    width: 100vw;
    height: 100vh;
    background-color: #4c566a;
    color: #ffff;
    
}
.texto{
    color: black;
    font-size: 23px;
}
.bar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}
.marca{
    margin-top: -7px ;
}
.marca span{
    color:#5e81ac;
}
.menu{
    display:flex;
    width: 50%;
    justify-content: space-around;
}
.menu li{
    list-style:none;
}
.menu a {
    color:#ffff;
    text-decoration: none;
    padding: 10px 20px;
}
.menu .Ini{
color:#81a1c1;
}

.menu a:hover{
    background-color: #88c0d0;
    color:#4c566a;
    transition: ease-in .3s;
}

.main{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.descrip a{
    text-decoration: none;
    color: #ffff;
}

.descrip a:hover{
    background-color: #88c0d0;
    color:#4c566a;
    transition: ease-in .3s;
}
h1{
    font-size: 3em;
}
span{
    color:#5e81ac;
}
.descargar{
    padding: 10px 20px;
    background-color: #88c0d0;
    border:none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px  -5px rgba(102, 231, 200,.69);
}

.descargar:hover{
    background-color: white;
    box-shadow: none;
}
.main img{
    width: 100%;
    border: 7px solid #5e81ac;
    height: auto;
}
.acerca{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
    background-color: #e5e9f0;
}

.acerca img{
    width: 100%;
    grid-column: 1/5;
    border: 7px solid #8fbcbb;
}

.acerca-info{
    grid-column: 5/10;
    padding: 3em;
}

.acerca-info h2{
    font-size: 2em;
    color:#4c566a;
}

.divisor{
    height: 4px;
    width: 60px;
    background-color: #88c0d0;
    margin-top: 7px;
    margin-bottom: 2em;
}
.acerca p{
    margin-bottom: 2em;
}
.portafolio{
    width: 100vw;
    background-color:#4c566a ;
    color:#ffff;
}
.porta-head{
    width: 100vw;
    padding: 5em;
    
}

.porta-head h2{
    font-size: 2.5em;
}

.porta, .contenedor{
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.tarjeta{
    width: 300px;
    color:#ffff;
     height: 350px;
    background-color: #2e3440;
    margin: 1em;
}

.tarj-img{
    width:100%;
    height: 150px;
    background-image: url("./img/code.png");
    background-size: cover;
}

.tarj-title{
    padding: 20px;
}

.proyect-links{
    display: flex;
    justify-content: space-evenly;
}

.proyect-links a {
    color: #ffff;
    text-decoration: none;
}

.proyect-links i {
    font-size: 2em;
}

.tarj, .detalles-proyect {
    margin: 0 auto;
    margin: 1em;
    width: 70%;

}

.tarj, .detalles-proyect a{
    text-decoration: none;
    color:#4c566a;
    text-transform: uppercase;
}

.buton-links{
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.contacto{
    background-color: #2e3440;
    padding: 2em;
}
.contacto-encabeza h2{
    color:#fff;
    font-size: 3em;
}
.contenedor-contacto{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
}
.contact-form h4{
    color:#fff;
}

.contenedor-contacto img{
    grid-column: 5/10;
    width: auto;
    height: auto;
    bottom: 0;
    border:7px solid #4c566a;
}

.contact-form{
    grid-column: 1/5;
}

.formulario{
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;  
}

.formulario input{
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;   
}

.formulario textarea{
    height: 150px;
    background: none;
    color:#ffff;
    padding: 1.5em;
    border: 1px solid #fff;
}

.btn-sub{
    padding:10px 20px;
    margin: 1em;
    border: none;
    text-transform: uppercase;
    background-color: #88c0d0;
    border-radius: 20px;
    cursor:pointer;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: #88c0d0;
}

.footer-content h2{
    font-size: 3em;

}
.footer-content h5, .social i{
    font-size: 1.5em;
}

.social{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;;
}

.social a{
    color: black;
}